/* reservas */

.container-cards-reservas-ocupadas,
.container-cards-reservas-disponiveis {
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 20px;
    transition: all .2s;
}

.container-cards-reservas-ocupadas.min,
.container-cards-reservas-disponiveis.min  {
    margin-bottom: 0px;
    height: 0px;
    overflow: hidden;
}

.card-container-disponibilidade-reserva {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
    border-color: var(--cor-2);
    height: 130px;
    border-radius: 1rem;
    transition: all .2s;
    border-left: 5px solid;
}

.card-container-disponibilidade-reserva:hover {
    transition: all .2s;
    transform: scale(102%);
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-left: 5px solid var(--cor-6);
    box-sizing: border-box;
}

    /* cores de status dos cards */
    .card-container-disponibilidade-reserva.pendente {
        border-left-color: var(--cor-a-yellow3);
    }

    .card-container-disponibilidade-reserva.confirmado {
        border-left-color: var(--cor-a-green3);
    }

    .card-container-disponibilidade-reserva.cancelado {
        border-left-color: var(--cor-a-red3);
    }

    .card-container-disponibilidade-reserva.check-in {
        border-left-color: var(--cor-a-blue3);
    }

    .card-container-disponibilidade-reserva.check-out {
        border-left-color: var(--cor-a-purple3);
    }

    .card-container-disponibilidade-reserva.finalizado {
        border-left-color: var(--cor-s11);
    }

    .card-container-disponibilidade-reserva.reservado {
        border-left-color: var(--cor-a-red3);
    }

    .disp-reserva-status.pendente span {
        background-color: var(--cor-a-yellow3);
    }

    .disp-reserva-status.confirmado span {
        background-color: var(--cor-a-green3);
    }

    .disp-reserva-status.cancelado span {
        background-color: var(--cor-a-red3);
    }

    .disp-reserva-status.check-in span {
        background-color: var(--cor-a-blue3);
    }

    .disp-reserva-status.check-out span {
        background-color: var(--cor-a-purple3);
    }

    .disp-reserva-status.finalizado span {
        background-color: var(--cor-s11);
    }

    .disp-reserva-status.disponivel span {
        background-color: var(--cor-a-green3);
    }

    .disp-reserva-status.reservado span {
        background-color: var(--cor-a-red3);
    }


.disp-reserva-nome {
    width: 30%;
}

    .disp-reserva-nome span {
        color: var(--cor-3);
    }

    .disp-reserva-nome-info {
        padding-top: 5px;
    }

.disp-reserva-status {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .disp-reserva-status p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .disp-reserva-status span {
        display: inline-flex;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

.disp-reserva-data {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    .disp-reserva-data-periodo {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


.disp-reserva-botao {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separador-reserva {
    width: 1px ;
    background-color: var(--cor-2);
    height: 85%;
    margin: auto 0px;
}

.cards-reservas-cabecalho {
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--cor-13);
    border-radius: .5rem;
}

.icon-drop-ocupadas,
.icon-drop-disponiveis {
    padding: 5px;
    cursor: pointer;
    transition: ease-out .2s;
    color: var(--cor-8);
}

    .icon-drop-ocupadas:hover,
    .icon-drop-disponiveis:hover {
        color: var(--cor-s2);
    }

    .ico-icodown {
        transition: ease-out .2s;
    }


/* nova reserva */
.separador-botao {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--cor-2);
}

.footer-container-button-reserva {
    display: flex;
    justify-content: right;
    padding-top: 30px;
}

    .form-container-button-reserva {
        display: flex;
        justify-content: space-between;
        margin-top:0px ;
        width: 50%;
        justify-content: right;
        gap: 10px;
    }

    .form-container-button-reserva button {
        width: 100%;
    }

    .form-container-button-reserva.informacao {
        width: 100%;
    }

        .form-container-button-reserva.informacao button {
            width: auto;
        }
    
.container-progresso-nova-reserva {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

    .container-progresso-nova-reserva span {
        width: 38px;
        height: 38px;
        display: flex;
        background-color: var(--cor-2);
        border-radius: 50%;
        border: 3px solid #fff;
    }

    .container-progresso-nova-reserva  div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 100%;
        
    }

    .progresso.confirmado {
        background-color: var(--cor-p2);
        border: 3px solid #fff;
    }

    .progresso.ativo {
        box-shadow: 0px 0px 0px 1px var(--cor-s6);
    }

    .conteudo-reserva {
        padding: 30px 0px;
    }

.nav-links-reservas {
    display: none;
}

/* informações das reservas */
.icone-alerta-modal-padrao {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.icone-alerta-check-in-modal {
    background-color: rgb(241, 253, 255);
    box-shadow: 0px 0px 0px 8px rgb(252, 253, 255);
}

.icone-alerta-confirmar-reserva-modal {
    background-color: rgb(241, 255, 254);
    box-shadow: 0px 0px 0px 8px rgb(252, 255, 254);
}

.icone-alerta-check-out-modal {
    background-color: rgb(251, 243, 255);
    box-shadow: 0px 0px 0px 8px rgb(252, 248, 255);
}

.modal-check-in-icone span {
    color: var(--cor-a-blue3);
}

.modal-confirmar-reserva-icone span {
    color: var(--cor-a-green3);
}

.modal-check-out-icone span {
    color: var(--cor-a-purple3);
}

.container-button-reserva-info {
    display: flex;
    justify-content: right;
}