:root {
    --cor-0: #ffffff;
    --cor-1: #f7f7f7;
    --cor-2: #ededed;
    --cor-3: #dedede;
    --cor-4: #cccccc;
    --cor-5: #b2b2b2;
    --cor-6: #9c9c9c;
    --cor-7: #717171;
    --cor-8: #595959;
    --cor-9: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111111;
    --cor-12: #000000;
    --cor-13: #dee2e6;

    /* cores primarias */
    --cor-p1: #0C465F;
    --cor-p2: #07364A;
    --cor-p3: #032737;
    --cor-p4: #021F2C;
    --cor-p5: #011822;
    --cor-p6: #00131B;
    --cor-p7: #001017;

    /* cores secundarias */
    --cor-s1: #94FFEC;
    --cor-s2: #67FFE4;
    --cor-s3: #47F2D4;
    --cor-s4: #26E2C1;
    --cor-s5: #1AD4B3;
    --cor-s6: #09BE9E;
    --cor-s7: #00AA8B;
    --cor-s8: #009C80;
    --cor-s9: #008870;
    --cor-s10:#007E68;
    --cor-s11: #00493C;

  /* cores de ação */
    --cor-a-red4: #E05C5C;
    --cor-a-red3: #D77C7C;
    --cor-a-red2: #FCEEEE;
    --cor-a-red1: #FDF4F4;

    --cor-a-green4: #4EB899;
    --cor-a-green3: #75D5B9;
    --cor-a-green2: #D3F8EC;
    --cor-a-green1: #E1FAF2;

    --cor-a-yellow4: #C49545;
    --cor-a-yellow3: #EAC179;
    --cor-a-yellow2: #FFEFD1;
    --cor-a-yellow1: #FFFAF1;
}
  
  .cor-0 {
    color: var(--cor-0);
  }
  .cor-1 {
    color: var(--cor-1);
  }
  .cor-2 {
    color: var(--cor-2);
  }
  .cor-3 {
    color: var(--cor-3);
  }
  .cor-4 {
    color: var(--cor-4);
  }
  .cor-5 {
    color: var(--cor-5);
  }
  .cor-6 {
    color: var(--cor-6);
  }
  .cor-7 {
    color: var(--cor-7);
  }
  .cor-8 {
    color: var(--cor-8);
  }
  .cor-9 {
    color: var(--cor-9);
  }
  .cor-10 {
    color: var(--cor-10);
  }
  .cor-11 {
    color: var(--cor-11);
  }
  .cor-12 {
    color: var(--cor-12);
  }
  .cor-13 {
    color: var(--cor-13);
  }

  .cor-p1 {
    color: var(--cor-p1);
  }
  .cor-p2 {
      color: var(--cor-p2);
  }
  .cor-p3 {
      color: var(--cor-p3);
  }
  .cor-p4 {
      color: var(--cor-p4);
  }
  .cor-p5 {
      color: var(--cor-p5);
  }
  .cor-p6 {
      color: var(--cor-p6);
  }
  .cor-p7 {
      color: var(--cor-p7);
  }

  .cor-s1 {
      color: var(--cor-s1);
  }
  .cor-s2 {
      color: var(--cor-s2);
  }
  .cor-s3 {
      color: var(--cor-s3);
  }
  .cor-s4 {
      color: var(--cor-s4);
  }
  .cor-s5 {
      color: var(--cor-s5);
  }
  .cor-s6 {
      color: var(--cor-s6);
  }
  .cor-s7 {
      color: var(--cor-s7);
  }
  .cor-s8 {
      color: var(--cor-s8);
  }
  .cor-s9 {
      color: var(--cor-s9);
  }
  .cor-s10 {
      color: var(--cor-s10);
  }
  .cor-s11 {
      color: var(--cor-s11);
  }



.cor-a-red4 {
    color: var(--cor-a-red4);
}

.cor-a-red3 {
    color: var(--cor-a-red3);
}

.cor-a-red2 {
    color: var(--cor-a-red2);
}

.cor-a-red1 {
    color: var(--cor-a-red1);
}


.cor-a-green4 {
    color: var(--cor-a-green4);
}

.cor-a-green3 {
    color: var(--cor-a-green3);
}

.cor-a-green2 {
    color: var(--cor-a-green2);
}

.cor-a-green1 {
    color: var(--cor-a-green1);
}


.cor-a-yellow4 {
    color: var(--cor-a-yellow4);
}

.cor-a-yellow3 {
    color: var(--cor-a-yellow3);
}

.cor-a-yellow2 {
    color: var(--cor-a-yellow2);
}

.cor-a-yellow1 {
    color: var(--cor-a-yellow1);
}