.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    /* background-color: rebeccapurple; */
}

.form-container{
  background-color: var(--cor-1);
  background-color: var(--cor-0);
  max-width: 1000px;
  padding: 10px 20px;
  border-radius: 0.5rem;
}

.form-container.reservas {
  max-width: 780px;
  padding: 20px 40px;
  border: 1px solid var(--cor-13);
}

.form-container.reservas-informacao {
  padding: 0px;
  background-color: transparent;
}

.form-container.reservas-informacao {
  max-width: 780px;
}

.form-container.reservas.cabecalho {
  max-width: 780px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.form-container.reservas.cabecalho::before {
  content: '';
  width: 10px;
  height: 35px;
  position: absolute;
  left: -5px;
  background-color: var(--cor-s7);
  border-radius: 4px;
}

.container-conteudo-principal {
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  padding: 5px 0px;
}
.container-button {
  display: flex;
  margin-bottom:30px ;
}


.form-container-button {
    display: flex;
    justify-content: space-between;
    margin-top:0px ;
    background-color: white;
    padding: 0px;
    padding: 20px 0px 10px 0px;
}
  
  .form .col-2 {
    grid-column: span 2;
  }
  
  .form input[type="text"]:focus,
  .form input[type="email"]:focus {
    outline: none;
    border-color: var(--cor-p1);
    background: var(--cor-0);
    box-shadow: 0 0 0 2px var(--cor-s1);
  }
  
  @media (max-width: 600px) {
    .form {
      grid-template-columns: 1fr;
    }
    .form .col-2 {
      grid-column: 1;
    }
  }
