.container-tabela {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 10%);
  padding: 20px 0px;
  box-sizing: border-box;
  padding: 20px;
  /* margin: 20px; */
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 5%);
  overflow-x: auto;
}

#myTable {
  width: 100% !important;
}

.table td {
    border: 1px solid var(--cor-3);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    vertical-align: middle;
    text-align: left !important;
    font-size: .875rem;
    /* color: rgb(100, 100, 100); */
    color: var(--cor-7);
  }

  .table th {
    border: 1px solid var(--cor-2);
    border-top: none;
    font: 400 1rem/1rem "Poppins", sans-serif;
    color: var(--cor-6);
    text-align: left !important;
    color: rgb(100, 100, 100);
  }

  .table td:first-child,
  .table th:first-child {
      border-left: none;
  }

  .table td:last-child,
  .table th:last-child {
      border-right: none;
  }
  
  .table-group-divider {
    color: var(--cor-3);
  }
  
  .td-icons {
    vertical-align: middle;
  }
  
  .td-icons a {
    padding: 3px;
    display: inline-flex;
    margin: 0px 2px;
    border: 1px solid var(--cor-4);
    border-radius: 4px;
    transition: all .3s;
}

  .icon-btn-controle {
    color: var(--cor-7);
}


.icone-controle-editar:hover {
  background-color: var(--cor-a-yellow1);
  border: 1px solid var(--cor-6);
  border: 1px solid var(--cor-a-yellow4);
}

.icone-controle-excluir:hover {
  background-color: var(--cor-a-red2);
  border: 1px solid var(--cor-a-red4);
}

.icone-controle-editar:hover span {
  color: var(--cor-a-yellow4);
}

.icone-controle-excluir:hover span {
  color: var(--cor-a-red4);
}

.status-geral.ativo {
  background-color: var(--cor-a-green1);
  border: 1px solid var(--cor-a-green4);
  color: var(--cor-a-green4);
}

.status-geral.inativo {
  background-color: var(--cor-a-red1);
  border: 1px solid var(--cor-a-red4);
  color: var(--cor-a-red4);
}

.status-geral.ativo,
.status-geral.inativo,
.legenda-acesso.sim, 
.legenda-acesso.não,
.legenda-tp-operacao.insercao,
.legenda-tp-operacao.atualizacao,
.legenda-tp-operacao.exclusao {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 0.5rem;
  font-size: .85rem;
}

.legenda-acesso.sim {
  background-color: var(--cor-a-green1);
  border: 1px solid var(--cor-a-green4);
  color: var(--cor-a-green4);
}

.legenda-acesso.não {
  background-color: var(--cor-2);
  border: 1px solid var(--cor-6);
  color: var(--cor-6);
}

/* legenda de log */
.legenda-tp-operacao.insercao {
  background-color: var(--cor-a-green1);
  border: 1px solid var(--cor-a-green4);
  color: var(--cor-a-green4);
}

.legenda-tp-operacao.atualizacao {
  background-color: var(--cor-a-yellow1);
  border: 1px solid var(--cor-a-yellow4);
  color: var(--cor-a-yellow4);
}

.legenda-tp-operacao.exclusao {
  background-color: var(--cor-a-red1);
  border: 1px solid var(--cor-a-red4);
  color: var(--cor-a-red4);
}

.dt-info,
.paging_full_numbers {
  color: var(--cor-6);
  font-weight: 300;
  font-size: .85rem;
}

.dt-length label {
  color: var(--cor-8);
  font-weight: 300;
  font-size: .85rem;
}
.dt-search label {
  color: var(--cor-8);
  font-weight: 300;
}

.paging_simple_numbers {
  font-weight: 300;
  font-size: .85rem;
}

.dt-paging-button {
  /* background-color: aqua !important; */
  border: 1px solid var(--cor-2) !important;
}

.dt-paging-button.current {
  background-color: red !important;
  background-color: var(--cor-4) !important;
  color: white !important;
}

.dt-paging-button.disabled.previous,
.dt-paging-button.disabled.next {
  background-color: var(--cor-1) !important;
}
