.container-navbar-lateral {
    width: 310px;
    height: 100vh;
    background-color: var(--cor-p6);
    /* position: absolute; */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.navbar-itens {
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar-itens li {
    /* background-color: aliceblue; */
    height: 70px;
    align-items: center;
}

.navbar-itens li a {
    /* background-color: blue; */
    display: flex;
    height: 100%;
    align-items: center;
    align-content: center;
    padding: 0px 20px 0px 20px;
    gap: 10px;
    position: relative;
}

.container-navbar-lateral li:hover {
    background-color: var(--cor-p2);
    background-color: rgba(7, 54, 74, 20%);
    transition: all .2s;
}

.link-ativo {
    background-color: rgba(7, 54, 74, 20%);;
}

.link-ativo::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: var(--cor-s7);
    top: 25px;
    left: 0px;
    border-radius: 0px 4px 4px 0px;
}

.header {
    background-color: var(--cor-p5);
    width: 100%;
    height: 70px;
    grid-area: header;
}

.conteudo {
    background-color: aquamarine;
    width: 100%;
    grid-area: conteudo;
}

.container-navbar-lateral {
    grid-area: aside;
}

body {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: 
    'aside header header'
    'aside conteudo conteudo'
    'aside conteudo conteudo'
    ;
}