.container-navbar-lateral {
    width: 310px;
    width: 256px;
    min-height: 100vh;
    background-color: var(--cor-p6);
    /* position: absolute; */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.logo img {
    max-width: 120px;
    height: auto;
    margin-bottom: 30px;
    /* border: 1px solid white; */
}

.navbar-itens {
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar-itens li {
    /* background-color: aliceblue; */
    /* height: 70px; */
    height: 50px;
    align-items: center;
}

.navbar-itens li a {
    /* background-color: blue; */
    display: flex;
    height: 100%;
    align-items: center;
    align-content: center;
    padding: 0px 20px 0px 20px;
    gap: 10px;
    position: relative;
}

.container-navbar-lateral li:hover {
    background-color: var(--cor-p2);
    background-color: rgba(7, 54, 74, 20%);
    transition: all .2s;
}

.link-ativo {
    background-color: rgba(7, 54, 74, 20%);;
}

.link-ativo::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: var(--cor-s7);
    top: 15px;
    left: 0px;
    border-radius: 0px 4px 4px 0px;
}

.header {
    background-color: var(--cor-p5);
    width: 100%;
    height: 70px;
    grid-area: header;
    display: flex;
    justify-content: end;
}

.container-usuario-logado {
    background-color: tomato;
    min-width: 200px;
    margin-right: 20px;
}

/* usuario logado css */
.usuario-logado {
    background-color: tan;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* margin-right: 20px; */
    gap: 5px;
    position: relative;
}
    .usuario-logado p {
        font-size: .82rem;
        font-weight: 500;
    }

    .usuario-logado span {
        font-size: .72rem;
    }

.usuario-logado-texto {
    /* background-color: azure; */
    color: var(--cor-1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
    border-left: 2px solid;
    border-color: var(--cor-s7);
}

.usuario-logado-foto {
    width: 70px;
    height: 100%;
    /* background-color: azure; */
    /* background-color: var(--cor-1); */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* display: none; */
}
    .usuario-logado-foto img {
        width: 50px;
        height: 50px;
        /* border: 1px solid red; */
    }

.usuario-logado-dropdown {
    background-color: var(--cor-0);
    border: 1px solid var(--cor-3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5%);
    padding: 10px;
    position: absolute;
    width: 150px;
    box-sizing: border-box;
    top: 80px;
    z-index: 2;
    display: none;
}

    .dropwdown-logado {
        
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .dropwdown-logado li{
        /* background-color: bisque; */
    }

    .dropwdown-logado li a {
        display: block;
        /* background-color: aqua; */
        padding: 5px;
        width: 100%;
        height: auto;
        font-size: .82rem;
        transition: all .2s;
    }

    
    .dropwdown-logado li a:hover {
        background-color: tomato;

    }
    

.conteudo {
    /* background-color: aquamarine; */
    width: 100%;
    grid-area: conteudo;
    position: relative;
}

.container-navbar-lateral {
    grid-area: aside;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    'aside header'
    'aside conteudo'
    'aside conteudo'
    ;
}