.formulario-gravar-setor {
    background-color: var(--cor-0);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 10%);
    max-width: 1000px;
    height: 500px;
    margin: 50px 0px 0px 50px;
    padding: 20px;
}